:root {
    --max-width: 1920px;
    --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
      'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
      'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  
    --font-montserrat: 'Montserrat', sans-serif;
  
    --body-background: #ffffff;
    --main-padding: 0 250px;

    /* Typography */
    --body-text-bold: 700;
    --body-text-regular: 500;
    --body-font-size-small: 14px;
    --body-font-size-medium: 16px;
    --body-font-size-large: 18px;
    --body-line-height: 24px;

    /* Colors */
    --primary-color-grey-light: #E7F0FF;
    --primary-color-grey: #7387AC;
    --primary-color-blue-light: #5F7AFF;
    --primary-color-blue-medium: #264AFB;
    --primary-color-blue-dark: #00065B;

    --conversion-color-green-light: #06EB83;
    --conversion-color-green-medium: #01D684;
    --conversion-color-green-dark: #009E61;

    /* Buttons */
    --button-box-shadow-normal: 0px 0px 15px 0px #00065B1A;
    --box-shadow-action: 0px 5px 15px 0px #00065B4D;
    --button-border-radius: 8px;
  }
    
  
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
  
html,
body {
  max-width: var(--max-width);
  overflow-x: hidden;
  margin: 0 auto;

  background-color: var(--body-background);
  color: var(--primary-color-blue-dark);
}

/* Typography */
h1 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 700;
  margin-bottom: 10px;
}

h2 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  margin-bottom: 10px;
}

h3 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  margin-bottom: 10px;
}

h4 {
  font-size: 20px;
  line-height: 32px;
  font-weight: 700;
  margin-bottom: 10px;
}